@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rubik:wght@500&display=swap');


:root {
  --color-background-first: #f9f9f9;
  --color-background-second: #f5f8fa;
  --color-background-projects-hover: rgba(255, 255, 255, 0.75);
  --color-title: #2c3e50;
  --color-text: #54585e;
  --color-light: #dddddd;
  --color-dark: #404449;
  --color-form-input: #EBEDEE;
  --color-white: #ffffff;
  --color-primary: #6b00d7;
  --color-secondary: #0F0F11;
  --color-red: #D93025;
  --font-title: 'Rubik', sans-serif;
  --font-text: 'Lato', sans-serif;
  --border-input: 1px solid rgba(0, 0, 0, 0.125);
  --main-shadow: 0 6px 15px rgb(36 37 38 / 10%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin-top: 5rem;
  font-family: var(--font-text);
  background-image: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
}

/* Utilities */

.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: var(--color-title);
}

img {
  max-width: 95%;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 3.75rem;
  font-family: var(--font-title);
  margin: 0 0 1rem 0;
}

h2 {
  font-size: 2.9rem;
  font-family: var(--font-title);
  margin: 0 0 1rem 0;
}

h3, .game-description h2 {
  font-size: 1.75rem;
  margin: 0 0 0.5rem 0;
}

p {
  font-size: 1rem;
  line-height: 1.65em;
  margin: 0;
  color: var(--color-text);
}

.btn {
  display: inline-block;
  border: 0.125rem solid;
  color: #fff;
  padding: 0.5rem 1.5rem;
  font-size: 1.05rem;
  text-transform: uppercase;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  -ms-transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  -o-transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-secondary {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}

/* Navbar */

.navbar {
  background-color: var(--color-secondary);
  font-family: var(--font-title);
  padding: 1.25rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: var(--main-shadow);
}

.navbar-content {
  display: flex;
  flex-direction: column;
}

.navbar-head {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.navbar a, .navbar i {
  color: var(--color-white);
}

.navbar .search-btn {
  display: none;
}

.search-btn {
  border: 0.125rem solid;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.navbar .search i {
  cursor: pointer;
  font-size: 1.25rem;
  margin-right: 1rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--color-white);
  cursor: pointer;
}

.logo img {
  margin: 0;
  max-height: 40px;
}

.logo span {
  content-visibility: hidden;
  padding-left: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.logo:hover {
  filter: contrast(0.5);
  -webkit-filter: contrast(0.5);
}

.navigation {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item.red {
  color: var(--color-red);
}

.mobile {
  display: flex;
  align-items: center;
}

.mobile-menu {
  border-left: 1px solid var(--color-dark);
  padding-left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobile-menu-active {
  display: none;
}

.nav-item {
  padding: 0.5rem 0;
}

.nav-item:hover, .search i:hover, .mobile-menu i:hover {
  color: var(--color-primary);
}

/* Content */

main, section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.description a {
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.description p {
  margin-bottom: 1.5rem;
}

.popular-games {
  justify-content: space-between;
  overflow-x: hidden;
  padding-bottom: 2rem;
}

.popular-games .game-item {
  margin-right: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.no-games p {
  margin-bottom: 1.5rem;
}

.game-item {
  background-color: white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: var(--main-shadow);
}

.game-image {
  margin: 0;
}

.game-image {
  position: relative;
}

.popular-games .game-image img {
  height: 250px;
}

.game-image img {
  width: 100%;
  max-height: 250px;
  max-width: 100%;
  border-radius: 2rem 2rem 0 0;
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
  object-fit: cover;
}

.game-image figcaption {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: .85rem .85rem 0 0;
  background-color: rgba(107, 0, 215, .75);
  color: white;
  padding: .1rem .75rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.game-image figcaption.liked {
  background-color: rgba(76, 175, 80, .75);
}

.game-image figcaption i {
  color: #f3d31f;
  font-size: .75rem;
  position: relative;
  top: -2px;
}

.game-item .game-image figcaption {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 2rem 2rem 0 0;
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
}

.game-item .game-image figcaption {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  transform-origin: bottom;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
}

.game-item .game-image figcaption i {
  font-size: 1.25rem;
  padding-top: 4px;
  padding-right: .25rem;
}

.game-item .game-image:hover figcaption {
  transform: scaleY(100%);
  -webkit-transform: scaleY(100%);
  -moz-transform: scaleY(100%);
  -ms-transform: scaleY(100%);
  -o-transform: scaleY(100%);
}

.game-description {
  padding: 1rem;
}

.game-description div {
  display: flex;
  justify-content: flex-end;
}

.game-description h2, .game-info h1 {
  text-transform: capitalize;
}

.game-btn {
  margin-top: .5rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.pagination a {
  padding: .75rem 1.25rem;
  margin-left: 1rem;
  border: 2px solid var(--color-light);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  -webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  -ms-transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  -o-transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.pagination a:hover {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.pagination a:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

/* Game list */

.container .game-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .game-list .game-item {
  flex-basis: calc(50% - 1rem);
  margin-bottom: 2rem;
}

.game-item {
  flex-basis: 100%;
}

/* Auth forms */

.multi-card, .card {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.card-color, .card-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: var(--main-shadow);
}

.card-white {
  border-radius: 2rem 2rem 0 0;
  -webkit-border-radius: 2rem 2rem 0 0;
  -moz-border-radius: 2rem 2rem 0 0;
  -ms-border-radius: 2rem 2rem 0 0;
  -o-border-radius: 2rem 2rem 0 0;
}

.card-white {
  flex-basis: calc(50%);
  background-color: var(--color-white);
}

.card-color {
  border-radius: 0 0 2rem 2rem;
  -webkit-border-radius: 0 0 2rem 2rem;
  -moz-border-radius: 0 0 2rem 2rem;
  -ms-border-radius: 0 0 2rem 2rem;
  -o-border-radius: 0 0 2rem 2rem;
}

.card-color {
  flex-basis: calc(50%);
  background-image: linear-gradient(90deg, var(--color-primary) 0%, #5a29e0 100%);
}

.card-color p, .card-color h2 {
  color: var(--color-white);
}

.card-color p {
  margin: .5rem 0 1.5rem 0;
}

.paginator {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.paginator a {
  width: 30px;
  display: inline-block;
  padding: 0.75rem 0;
  text-align: center;
  border: 2px solid var(--color-light);
  border-right-width: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -ms-transition: background-color .3s;
  -o-transition: background-color .3s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.paginator li:first-child>a {
  border-radius: 2rem 0 0 2rem;
  -webkit-border-radius: 2rem 0 0 2rem;
  -moz-border-radius: 2rem 0 0 2rem;
  -ms-border-radius: 2rem 0 0 2rem;
  -o-border-radius: 2rem 0 0 2rem;
}

.paginator li:last-child>a {
  border-right-width: 2px;
  border-radius: 0 2rem 2rem 0;
  -webkit-border-radius: 0 2rem 2rem 0;
  -moz-border-radius: 0 2rem 2rem 0;
  -ms-border-radius: 0 2rem 2rem 0;
  -o-border-radius: 0 2rem 2rem 0;
}

.paginator a:hover {
  background-color: var(--color-light);
  border-color: var(--color-light);
  color: var(--color-title);
}

.paginator .selected a {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-white)
}

.paginator .disabled a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: var(--color-light);
}

/* Game Page */

.game-page .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-main.card {
  padding: 0;
  margin-bottom: 2rem;
  text-align: left;
}

.game-main article {
  padding: 2rem;
}

.game-page .game-image img {
  max-height: 100%;
}

.game-image.deleted img, .game-image.deleted figcaption {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  cursor: default;
}

.game-page .game-image figcaption {
  margin: 1.25rem 1.25rem 0 0;
  font-size: 1.5rem;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.game-page .game-image figcaption:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.game-page .game-image figcaption:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.game-image figcaption i {
  font-size: 1rem;
  top: -2px;
}

.game-aside .card {
  margin-bottom: 2rem;
}

.game-aside h2 {
  margin: 0;
}

.game-aside p, .game-aside b {
  font-size: 1.25rem;
}

.game-aside .game-info {
  margin-top: 1rem;
}

.game-info div:first-child {
  margin-bottom: 0.5rem;
}

.game-aside .form-50.buttons {
  margin-top: 1rem;
}

/* Forms */

.card {
  max-width: 800px;
  background-color: var(--color-white);
  padding: 2rem;
  box-shadow: var(--main-shadow);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.form-50 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form label,
form input,
form select {
  display: block;
}

form .form-item {
  width: 100%;
  margin-bottom: 1rem;
}

form label {
  margin-bottom: 0.25rem;
  padding-left: .5rem;
  text-align: left;
}

form input:not(.btn),
form textarea,
form select {
  width: 100%;
  border: 0;
  color: var(--color-text);
  background-color: var(--color-form-input);
  font-size: 1.05rem;
  padding: 0.5rem 1rem;
  border: var(--border-input);
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

form select {
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

form input::file-selector-button {
  display: none;
}

form input[type="file"] {
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M447.1 32h-384C28.64 32-.01 60.65-.01 96v320c0 35.35 28.65 64 63.1 64h384c35.35 0 64-28.65 64-64V96c.01-35.35-27.79-64-63.99-64zm-336 64c26.51 0 48 21.49 48 48s-20.6 48-48 48-48-21.49-48-48 22.38-48 48-48zm335 311.6c-2.8 5.2-8.2 8.4-14.1 8.4H82.01a15.993 15.993 0 0 1-14.26-8.75 16 16 0 0 1 1.334-16.68l70-96C142.1 290.4 146.9 288 152 288s9.916 2.441 12.93 6.574l32.46 44.51 93.3-139.1C293.7 194.7 298.7 192 304 192s10.35 2.672 13.31 7.125l128 192c3.29 4.875 3.59 11.175.79 16.475z'/%3E%3C/svg%3E");
}

.form-item span.errors {
  display: block;
  margin-top: 2px;
  font-size: .95rem;
  text-align: right;
  color: var(--color-red);
}

.form-50.buttons a:first-child, .no-games div a:first-child {
  margin-bottom: 1rem;
}

.no-games a {
  display: block;
}

span.or {
  color: var(--color-text);
  display: block;
  margin: .75rem;
}

form .image-preview img {
  max-height: 200px;
  box-shadow: 0 0 20px rgb(36 37 38 / 10%);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

form .image-preview img:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/* 404 */
.page-404 h1 {
  font-size: 5rem;
}

.page-404 h3, .page-404 p:last-of-type {
  margin-bottom: 2rem;
}

.page-404 p:first-of-type {
  margin-bottom: 1rem;
}

body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

body.swal2-shown header.navbar {
  margin-top: -5rem;
}

/* Media queries */
@media(min-width: 330px) {
  .paginator a {
    width: 35px;
  }
}

@media(min-width: 380px) {
  .paginator a {
    width: 40px;
  }

  .logo span {
    content-visibility: visible;
  }
}

@media(min-width: 420px) {
  .paginator a {
    width: 45px;
  }

  .form-50.buttons {
    flex-direction: row;
  }

  .form-50.buttons a:first-child {
    margin-bottom: 0;
  }
}

@media(min-width: 470px) {
  .paginator a {
    width: 50px;
  }
}

@media (min-width: 620px) {
  .container .game-list {
    flex-direction: row;
  }

  .game-item {
    flex-basis: calc(50% - 1rem);
  }

  .register .multi-card {
    flex-direction: row;
  }

  .register .card-color,
  .login .card-white {
    border-radius: 0 2rem 2rem 0;
    -moz-border-radius: 0 2rem 2rem 0;
    -ms-border-radius: 0 2rem 2rem 0;
    -o-border-radius: 0 2rem 2rem 0;
    -webkit-border-radius: 0 2rem 2rem 0;
  }

  .login .multi-card {
    flex-direction: row-reverse;
  }

  .login .card-color,
  .register .card-white {
    border-radius: 2rem 0 0 2rem;
    -webkit-border-radius: 2rem 0 0 2rem;
    -moz-border-radius: 2rem 0 0 2rem;
    -ms-border-radius: 2rem 0 0 2rem;
    -o-border-radius: 2rem 0 0 2rem;
  }
}

@media (min-width: 768px) {
  .game-item {
    flex-basis: calc(33% - 1rem);
  }

  .container .game-list .game-item {
    flex-basis: calc(50% - 1rem);
    margin-bottom: 2rem;
  }

  .game-page .container {
    flex-direction: row;
  }

  .game-main {
    flex-basis: calc(66.6% - 1rem);
  }

  .game-aside {
    flex-basis: calc(33% - 1rem);
  }

  .form-50.buttons a:first-child {
    margin-bottom: 1rem;
  }

  .form-50.buttons {
    flex-direction: column;
  }
}

@media (min-width: 860px) {
  .navbar-content {
    flex-direction: row;
  }

  .logo span {
    content-visibility: hidden;
  }

  .mobile-menu {
    display: none;
  }

  .navbar .search-btn {
    display: inline-block;
  }

  .search {
    position: relative;
  }

  .search i {
    color: var(--color-dark);
    right: 0;
    position: absolute;
    font-size: 1rem;
    padding: .55rem .75rem 0 0;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }

  .navigation {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .nav-separator-left {
    border-left: 1px solid var(--color-dark);
  }

  .nav-separator-right {
    border-right: 1px solid var(--color-dark);
  }

  .nav-item {
    padding: 0 1rem;
  }

  .form-50 {
    flex-direction: row;
  }

  .form-50 .form-item {
    flex-basis: calc(50% - .5rem);
  }

  .game-item {
    flex-basis: calc(25% - 1rem);
  }

  .container .game-list .game-item {
    flex-basis: calc(33% - 1rem);
    margin-bottom: 2rem;
  }

  .game-page .form-50.buttons a {
    flex-basis: calc(50% - 1rem);
  }
}

@media(min-width: 1010px) {
  .logo span {
    content-visibility: visible;
  }

  .form-50.buttons {
    flex-direction: row;
  }

  .form-50.buttons a:first-child {
    margin-bottom: 0;
  }
}